#main-content {
    max-height: 0px;
    opacity: 0;
	transition: opacity var(--animation-duration) ease-out;
	transition: max-height var(--animation-duration) ease-out;
}

#main-content.content {
    max-height: 10000px;
    opacity: 100%;
	transition: opacity var(--animation-duration) ease-in;
	transition: max-height var(--animation-duration) ease-in;
    /* animation: slideDown var(--animation-duration) ease-in-out 0 1; */
}

footer * {
    transition: transform 0.5s ease;
}